<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary"><%= campground.location %></li>
                <li class="list-group-item text-info-emphasis"><%= campground.price %>$ / night</li>
            </ul>
            <div class="card-body">
                <a href="/campgrounds/<%= campground.id %>/edit" class="btn btn-primary">Edit</a>
                <form class="d-inline" action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-body-secondary">
                <a href="/campgrounds">All Camps</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h2>Leave a Review</h2>

        <form action="/campgrounds/<%= campground.id %>/review" method="post" class="validated-form mb-3" novalidate>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" class="form-range" step="1" min="1" max="5" id="rating" name="review[rating]">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Review</label>
                <textarea name="review[body]" class="form-control" id="body" cols="30" rows="5" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
        <% for( let review of campground.reviews ) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rating: <%= review.rating %></h5>
                    <p class="card-text">Rating: <%= review.body %></p>
                    <form action="/campgrounds/<%= campground.id %>/reviews/<%= review.id %>?_method=DELETE" method="post">
                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                    </form>
                </div>
                
            </div>
        <% } %>
    </div>
</div>

<script>
    (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

